/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ink
 *= require font-awesome 
 *= require select2
 *= require_tree .
 */

.box {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px 0 #dddddd;
  -moz-box-shadow: 0 2px 3px 0 #dddddd;
  box-shadow: 0 2px 3px 0 #dddddd;
  border: 1px solid #BBB;
  background-color: #FFF;
  padding: 1em;
  margin-top: 1em;
}

#s2id_tag_adder {
  width: 100%;
}

#s2id_tag_adder .select2-choices { 
  border-radius: 4px;
  padding: 8px 6px;
  border: 1px solid #c4c4c4;
  resize: none;
  font-size: 14px;
  background: #ffffff;
  vertical-align: middle;  
}

#s2id_tag_adder .select2-input { 
  font-family: Ubuntu, Arial, sans-serif;
  padding: 0;
  padding-left: 2px;
}