!!!
%html
  %head
    %title PerformanceTracker
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.ink-grid
      %div.column-group
        %div.large-100
          -if session[:user_id]
            %nav.ink-navigation.space
              %ul.menu.horizontal.rounded.shadowed.blue
                %li
                  =link_to portfolios_report_path do
                    %i.icon-dashboard
                    Performance Tracker
                %li
                  =link_to portfolios_path do
                    %i.icon-reorder
                    Portfolio List
                %li.push-right
                  =link_to login_logout_path do
                    %i.icon-coffee
                    Logout  
        .column-group
          .space        
            = yield